{% extends "password_reset/base.html" %}

{% load url from future %}{% load i18n %}

{% block page_title %}{% trans "Password recovery email sent" %} — {{ block.super }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block body_class %}entry-pages{% endblock %}

{% block prebody %}
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
			<div class="signup-wrap">
				<div class="logo-wrap">
					<h4>{% trans "Password recovery email sent" %}</h4>
					{% blocktrans with ago=timestamp|timesince %}<p>An email was sent to <strong>{{ email }}</strong>.</p><p>Use the link in the sent email to set a new password.</p>{% endblocktrans %}
					<a href="{% url 'public:signin' %}" class="btn btn-success">Sign In</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}{% endblock %}
