{% load compressed staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="favicon.png">

    {% compressed_css 'base' %}
    {% compressed_js 'base_head' %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock css %}

</head>

<body>

    <div class="pre-loader">
        <div class="load-con">
            <img src="{% static 'img/freeze/logo.png' %}" class="animated fadeInDown" alt="">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
    </div>
   
    <header>
        {% include 'nav.html' %}
        {% block header %}
        <div class="tp-banner-container">
            <div class="" style="height:75px;"></div>
        </div>
        {% endblock %}
    </header>


    <div class="wrapper">
        {% block jumbo %}{% endblock %}

        {% block body %}
        <section id="public">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>
        {% endblock %}

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fuse.js/1.1.7/fuse.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.4/parsley.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>
    
    <script src="//releases.flowplayer.org/5.5.0/flowplayer.js"></script>

    {% compressed_js 'base' %}
    {% compressed_js 'react' %}
    {% compressed_js 'resources' %}
    {% if debug %}<script src="{{ STATIC_URL }}js/reactjs/0.11.1/JSXTransformer.js"></script>{% endif %}

    {% block js %}{% endblock %}

    <script>
        $(document).ready(function() {
        appMaster.preLoader();
        appMaster.scrollMenu();
    });
    </script>

</body>

</html>
